In [3]:
import pandas as pd

In [4]:
# create a path to the files
excel = 'test.xlsx'
csv = 'test.csv'

In [5]:
excel_data = pd.read_excel(excel)
excel_data

  Unnamed: 0  Kolom 1  Kolom 2  Kolom 3  Kolom 4
0      Rij 1        1        2        3        4
1      Rij 2        5        6        7        8
2      Rij 3        9       10       11       12

In [6]:
csv_data = pd.read_csv(csv)
csv_data

  Unnamed: 0  Kolom 1  Kolom 2  Kolom 3  Kolom 4
0      Rij 1        1        2        3        4
1      Rij 2        5        6        7        8
2      Rij 3        9       10       11       12

In [7]:
csv_data['Kolom 1']

0    1
1    5
2    9
Name: Kolom 1, dtype: int64

In [8]:
csv_data['Kolom 1'].mean

<bound method Series.mean of 0    1
1    5
2    9
Name: Kolom 1, dtype: int64>

In [9]:
csv_data.iloc[1]

Unnamed: 0    Rij 2
Kolom 1           5
Kolom 2           6
Kolom 3           7
Kolom 4           8
Name: 1, dtype: object

In [10]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3 non-null      object
 1   Kolom 1     3 non-null      int64
 2   Kolom 2     3 non-null      int64
 3   Kolom 3     3 non-null      int64
 4   Kolom 4     3 non-null      int64
dtypes: int64(4), object(1)
memory usage: 252.0+ bytes

In [12]:
# Create my own dataframe
something = ([1,2,3,4,5], ["Yes", "No", "Maybe", "Don't know", "What?"])

new_df = pd.DataFrame(something)

new_df.head()

     0   1      2           3      4
0    1   2      3           4      5
1  Yes  No  Maybe  Don't know  What?

In [35]:
# Create a list
new_list = [1, 2, 3, 4, 5, "something", False]

other_list = list( (1, 2, 3, 4, 5) )

# Create a Tuple
new_tuple = (1, 2, 3, 4, 5, "something", False)

other_tuple = tuple()

# Create a dictionary
new_dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

other_dict = dict()

In [36]:
print(new_list)
print(other_list)

print(type(new_list))
print(type(other_list))

print(type(new_list[5])) # check the data type

print(new_tuple)
print(other_tuple)

print(type(new_tuple[5])) # check the data type


print(new_dict)
print(other_dict)

[1, 2, 3, 4, 5, 'something', False]
[1, 2, 3, 4, 5]
<class 'list'>
<class 'list'>
<class 'str'>
(1, 2, 3, 4, 5, 'something', False)
()
<class 'str'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{}